.homepage-right-container-1{
   
    display:flex;
    flex-direction: row;
    width: 75vw;
    margin-bottom: 35px;
    justify-content: space-between;
}

.homepage-right-container-2{
    display: flex;
    flex-direction: row;
}

.homepage-right-container-3{
    justify-content: center;
    align-items: center;
    width: 36vw;
   
    margin-right: 2vw;
}

.homepage-right-textcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

